a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 15px;
}
ol {
  font-size: 20px;
  border-right: 2px solid gray;
  width: 100px;
  margin: 0;
  padding: 25px;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol {
  padding-left: 15px;
}
#article {
  padding-left: 15px;
  color: black;
  text-decoration: none;
}
@media(max-width:800px)  {
  #grid{
    display: block;
  }
  ol{
    border-right: none;
  }
  h1{
    border-bottom: none;
  }
}
